@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.logo {
    width: 50%;
    border: #B37136 .2rem solid; 
    border-radius:50%;
    padding: .5rem;
}

.title {
    color: #1B263C;
    padding-top: .5rem;
    margin-bottom: 1rem;
}

.links {
    width: 100%;
    height: auto;
    background-color: #B37136;
    box-shadow: 0px 7px 10px 0px #758094;
}

.links a {
    height: 80%;
    max-width: 8rem;
    padding: 1rem;
    display: inline-block;
    color: #B37136;
    font-size: 2.rem;
}

@media only screen and (max-width: 767px) {
    .links a {
        font-size: 1rem;
    }
    header {
        height: 55%;
    }
}
@media only screen and (max-width: 375px) {
    header {
        height: 40%;
    }
    .logo {
        margin-top: 1rem;
    }

    .footer {
        margin-top: -2rem;
    }
    .links a {
        font-size: .9rem;
        padding: 0.4rem;
    }
}
@media only screen and (max-width: 300px) {
    .links a {
        margin-top: 1rem;
        font-size: .5rem;
        padding: 0.2rem;
    }
    header {
        height: 30%;
    }
    .logo {
        margin-top: 1rem;
    }
}

#instagram {
    background-color: #ffffff;
    border: #ffffff 1rem solid;
    border-radius: 50%;
    width: 110%;
}

#whatsapp {
    background-color: #ffffff;
    border: #ffffff 1rem solid;
    border-radius: 50%;
    width: 110%;
}

#behance {
    background-color: #ffffff;
    border: #ffffff 1rem solid;
    border-radius: 50%;
    width: 105%;
}

#email {
    background-color: #ffffff;
    border: #ffffff 1rem solid;
    border-radius: 50%;
    width: 106%;
}

#clique {
    width: 30px;
    height: 40px;
    margin-top: -0.5rem;
}

h3 {
    margin-top: 3rem;
    color: #1B263C;
}